{
  "ETHEREUM_NODE_RPC_URL": "http://localhost:8545",
  "ORG_SAFE_OWNER_PRIVATE_KEY_PATH": "./org-safe-owner-private-key.txt",
  "USR_SAFE_ADDRS_PATH": "./usr-safe-addresses.txt",
  "ORG_SAFE_ADDR": "",
  "HUB_ADDR": ""
}