{
  "DB_CONNECTION": "",
  "API_SERVICE_ENDPOINT":"",
  "GRAPH_NODE_ENDPOINT":"",
  "HUB_ADDRESS":"",
  "PROXY_FACTORY_ADDRESS":"",
  "RELAY_SERVICE_ENDPOINT":"",
  "SAFE_ADDRESS":"",
  "SUBGRAPH_NAME":"",
  "TX_SENDER_ADDRESS_OLD":"",
  "TX_SENDER_ADDRESS_NEW":"",
  "ETHEREUM_NODE_WS":""
}
